html {
  height: 175vh;
}
#root {
  height: 175vh;
  width: 100vw;
  margin: 0;
}
input {
  border-radius: 2rem;
  border: 0.1rem solid grey;
  width: 15rem;
  height: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
button {
  background-color: black;
  color: white;
  border-radius: 5rem;
  width: 12rem;
  height: 3rem;
  font-size: 1rem;
}
/* LoginScreen*/
.background {
  height: 175vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  background-image: url("https://images.pexels.com/photos/1024960/pexels-photo-1024960.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.center {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);
}
.center p {
  font-size: 3rem;
}
